* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #a8d0e6;
	color: white;
}

/* home */
.home-content {
	position: relative;
	margin: 10rem auto 5rem auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 75%;
	height: 400px;
	padding: 2rem;
	z-index: 5;
}

.home-blue-div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #1d4e72;
	left: -1rem;
	bottom: -1rem;
	z-index: -1;
}

.home-green-div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #3abb83;
	left: 0;
	z-index: -1;
}

.home-baby-blue-div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #7fc9f0;
	left: 1rem;
	bottom: 1rem;
	z-index: -1;
}

.home-content > img {
	width: 30%;
	border-radius: 50%;
}

.project-btn {
	margin-bottom: 1rem;
}

.fa-github,
.fa-linkedin,
.fa-envelope {
	color: white;
	font-size: 2rem;
}

.home-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
}

.home-media {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem;
}

.personal-intro {
	padding: 6rem 2rem;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 500px;
}

.personal-intro > h1 {
	color: white;
}

.home-written-statement {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto 10rem auto;
	padding: 2rem;
	position: relative;
	z-index: 0;
}

.home-written-statement > h1 {
	color: white;
}

.home-written-statement-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	padding: 3rem;
}

.written-statement-blue-div {
	width: 30.5rem;
	height: 105%;
}

.work-and-edu {
	width: 80%;
	margin: 5rem auto;
	color: white !important;
	position: relative;
	z-index: 0;
}

.edu-green-div {
	position: absolute;
	width: 30%;
	height: 116%;
	background-color: #3abb83;
	right: -5%;
	top: -8%;
	z-index: 0;
}

.work-and-edu-content {
	background-color: black;
	position: relative;
	padding: 3rem;
}

.education {
	position: relative;
}

.education > div {
	display: flex;
	align-items: center;
}

.education > div > img {
	margin: 0 3rem 0 2rem;
}

.gallery {
	width: 80%;
	margin: 10rem auto;
}

.gallery-images {
	margin: 3rem;
	display: flex;
	justify-content: center;
	background-color: #ebebeb;
	padding: 3rem;
}

.gallery-images > img {
	max-height: 600px;
}

/* projects */
.project-h1 {
	margin-bottom: 5rem;
}

.project-content {
	position: relative;
	margin: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-card-wrapper {
	display: flex;
}

.card {
	color: black;
	margin-left: 1rem;
	margin-right: 1rem;
}

/* resume */
.resume-content {
	position: absolute;
	margin: 5rem;
	top: 10%;
	right: 0;
	bottom: 5%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resume-img {
	margin-bottom: 5rem;
}

/* Econ */
.econ-content {
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	min-height: 90vh;
}

.econ-content > iframe {
	width: 850px;
	max-width: 90vw;
	height: 1000px;
}

.econ-linkedin {
	margin-bottom: 5rem;
}

.econ-mockups {
	width: 80%;
	margin: 5rem;
}

.econ-mockups-pictures {
	margin-top: 3rem;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.econ-mockups-pictures > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.econ-tinkercad {
	width: 80%;
}

.econ-forecast {
	margin-bottom: 5rem;
}

.cash {
	margin: 2rem 0 2rem 0;
}

.with-vid {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Mobile Styles */
@media only screen and (max-width: 450px) {
	.navbar {
		z-index: 5;
	}

	.home-content {
		padding: .75rem;
	}

	.name,
	.project-h1 {
		font-size: 1.75rem;
	}

	.desc {
		font-size: .9rem;
	}

	.project-h1 {
		z-index: -1;
		padding: 0 3rem;
		margin-bottom: 2rem;
	}

	.project-card-wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}

	.card {
		margin-bottom: 2rem;
	}

	.resume-content {
		justify-content: center;
		margin: 0;
	}

	.resume-img {
		width: 90%;
		margin-bottom: 0;
	}
}

/* Tablet Styles */
/* @media only screen and (min-width: 401px) and (max-width: 960px) {
} */

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.page {
		width: 100%;
		margin: 0 auto;
		background-color: #a8d0e6;
	}
}

.iframe-wrapper {
	height: 750px;
	width: 80%;
	margin-bottom: 5rem;
}

iframe {
	width: 100%;
	height: 100%;
}

.origin-story {
	width: 960px !important;
	height: 540px !important;
	margin-bottom: 1rem;
}
