* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #a8d0e6;
	color: white;
}

/* home */
.home-content {
	position: absolute;
	margin: auto;
	top: 42%;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-btn {
	margin-bottom: 1rem;
}

.fa-github,
.fa-linkedin,
.fa-envelope {
	color: white;
	font-size: 2rem;
}

/* projects */
.project-h1 {
	margin-bottom: 5rem;
}

.project-content {
	position: relative;
	margin: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-card-wrapper {
	display: flex;
}

.card {
	color: black;
	margin-left: 1rem;
	margin-right: 1rem;
}

/* resume */
.resume-content {
	position: absolute;
	margin: 5rem;
	top: 10%;
	right: 0;
	bottom: 5%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resume-img {
	margin-bottom: 5rem;
}

/* Mobile Styles */
@media only screen and (max-width: 450px) {
	.navbar {
		z-index: 5;
	}

	.home-content {
		padding: .75rem;
	}

	.name,
	.project-h1 {
		font-size: 1.75rem;
	}

	.desc {
		font-size: .9rem;
	}

	.project-h1 {
		z-index: -1;
		padding: 0 3rem;
		margin-bottom: 2rem;
	}

	.project-card-wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}

	.card {
		margin-bottom: 2rem;
	}

	.resume-content {
		justify-content: center;
		margin: 0;
	}

	.resume-img {
		width: 90%;
		margin-bottom: 0;
	}
}

/* Tablet Styles */
/* @media only screen and (min-width: 401px) and (max-width: 960px) {
} */

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.page {
		width: 100%;
		margin: 0 auto;
		background-color: #a8d0e6;
	}
}

.iframe-wrapper {
	height: 750px;
	width: 80%;
	margin-bottom: 5rem;
}

iframe {
	width: 100%;
	height: 100%;
}
